<!-- <p>footer works!</p> -->

<footer class="layout-container flex w-full flex-col bg-surface-darker border-t border-[#29382f] mt-auto"
    style="background: linear-gradient(135deg, #001D8B 0%, #03c9e6 100%);">
    <div class="flex justify-center">
        <div class="layout-content-container flex w-full max-w-[1280px] flex-col px-4 md:px-10 py-12">
            <div class="flex flex-col md:flex-row justify-between gap-10">
                <div class="flex flex-col gap-4 max-w-[320px]">
                    <div class="flex items-center gap-2 text-white">
                        <h2 class="text-lg font-bold">FABJARDIN</h2>
                    </div>
                    <p class="text-white text-sm">
                        Empoderando a la comunidad local a través de la fabricación digital, la educación y la
                        innovación.
                    </p>
                    <div class="flex gap-4 mt-2">
                        <a class="text-white hover:text-white transition-colors" href="#"><span
                                class="material-symbols-outlined">public</span></a>
                        <a class="text-white hover:text-white transition-colors" href="#"><span
                                class="material-symbols-outlined">alternate_email</span></a>
                        <a class="text-white hover:text-white transition-colors" href="#"><span
                                class="material-symbols-outlined">photo_camera</span></a>
                    </div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-8 md:gap-16">
                    <div class="flex flex-col gap-3">
                    </div>
                    <div class="flex flex-col gap-3">
                    </div>
                    <div class="flex flex-col gap-3">
                        <h4 class="text-white font-bold text-sm uppercase tracking-wider">Contacto</h4>
                        <a class="text-white hover:text-primary text-sm" href="#">info@fabjardin.com</a>
                        <span class="text-white text-sm">+52 55-76-57-16-85</span>
                        <span class="text-white text-sm">5 de Febrero 418,<br />La
                            Bomba, 56600 Chalco de D íaz
                            Covarrubias, M éx.</span>
                    </div>
                </div>
            </div>
            <div
                class="border-t border-[#29382f] mt-12 pt-8 flex flex-col md:flex-row justify-between items-center gap-4">
                <p class="text-white text-sm text-center md:text-left">© 2026 FABJARDIN. Todos los derechos reservados.
                </p>
                <div class="flex gap-6">
                    <a class="text-white hover:text-gray-300 text-sm" href="#">Politicas de privacidad</a>
                    <a class="text-white hover:text-gray-300 text-sm" href="#">Terminos de los servicios</a>
                </div>
            </div>
        </div>
    </div>
</footer>