<div class="relative flex w-full flex-col group/design-root overflow-x-hidden">
    <section>
        <!-- NAV (fixed) -->
        <header style="background: linear-gradient(135deg, #001D8B 0%, #03c9e6 100%);" class="fixed left-0 top-0 z-50 w-full
         border-b border-[var(--border-dark)]
         backdrop-blur-md">
            <div class="mx-auto flex w-full max-w-[1366px] items-center justify-between px-4 py-3 md:px-10">
                <!-- Brand -->
                <img src="/images/fabblancoo.png" alt="FabLab" class="h-8 w-auto md:h-10 lg:h-12 object-contain">
                <!-- Desktop Nav -->
                <nav class="hidden flex-1 items-center justify-end gap-8 lg:flex">
                    <div class="flex items-center gap-9">

                        <!-- Dropdown Servicios-->
                        <div class="relative">
                            <div class="relative">
                                <button class="text-white" (click)="toggleDropdown('servicios')">
                                    Servicios
                                </button>

                                <div *ngIf="dropdowns['servicios']"
                                    class="absolute  mt-2 text-white  shadow-lg fondoVerdeOscuro w-96">
                                    <a class="block px-4 py-2 hover:bg-[#0056AA] cursor-pointer"
                                        (click)="scrollToSection('servicio-1')">
                                        Impresión 3D a medida
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0056AA]  cursor-pointer"
                                        (click)="scrollToSection('servicio-2')">
                                        Corte y grabado láser
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0056AA]  cursor-pointer"
                                        (click)="scrollToSection('servicio-3')">
                                        Fresado CNC y carpintería digital
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0056AA]  cursor-pointer"
                                        (click)="scrollToSection('servicio-4')">
                                        Electrónica y montaje básico
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0056AA]  cursor-pointer"
                                        (click)="scrollToSection('servicio-5')">
                                        Prototipos y maquetas para empresas
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Dropdown Taller -->
                        <div class="relative">
                            <div class="relative">
                                <button class="text-white" (click)="toggleDropdown('taller')">
                                    Taller para fabricar tú
                                </button>

                                <div *ngIf="dropdowns['taller']"
                                    class="absolute  mt-2 text-white  shadow-lg fondoVerdeOscuro w-96">
                                    <a class="block px-4 py-2 hover:bg-[#0565B2]  cursor-pointer"
                                        (click)="scrollToSection('taller-1')">
                                        Qué es el taller compartido
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0565B2] cursor-pointer"
                                        (click)="scrollToSection('taller-2')">
                                        Máquinas disponibles
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0565B2] cursor-pointer"
                                        (click)="scrollToSection('taller-3')">
                                        Cómo empezar
                                    </a>
                                    <a class="block px-4 py-2  hover:bg-[#0565B2]  cursor-pointer"
                                        (click)="scrollToSection('taller-4')">
                                        Bonos y membresías
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0565B2]  cursor-pointer"
                                        (click)="scrollToSection('taller-5')">
                                        Reservar una máquina
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Dropdown innovar -->
                        <div class="relative">
                            <div class="relative">
                                <button class="text-white" (click)="toggleDropdown('innovar')">
                                    Innovar productos y procesos
                                </button>

                                <div *ngIf="dropdowns['innovar']"
                                    class="absolute  mt-2 text-white  shadow-lg fondoVerdeOscuro w-96">
                                    <a class="block px-4 py-2 hover:bg-[#027DBD] cursor-pointer"
                                        (click)="scrollToSection('innovar-1')">
                                        Mejora de productos existentes
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#027DBD] cursor-pointer"
                                        (click)="scrollToSection('innovar-2')">
                                        Desarrollo de nuevos prototipos
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#027DBD] cursor-pointer"
                                        (click)="scrollToSection('innovar-3')">
                                        Proyectos con empresas e instituciones

                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#027DBD] cursor-pointer"
                                        (click)="scrollToSection('innovar-4')">
                                        Sesiones de ideación y pruebas
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#027DBD] cursor-pointer"
                                        (click)="scrollToSection('innovar-5')">
                                        Reservar una máquina
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Dropdown Emprender con tus productos -->
                        <div class="relative">
                            <div class="relative">
                                <button class="text-white" (click)="toggleDropdown('emprender')">
                                    Emprender con tus productos
                                </button>

                                <div *ngIf="dropdowns['emprender']"
                                    class="absolute  mt-2 text-white  shadow-lg fondoVerdeOscuro w-96">
                                    <a class="block px-4 py-2 hover:bg-[#0096CB] cursor-pointer"
                                        (click)="scrollToSection('emprender-1')">
                                        Te ayudamos a montar tu negocio
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0096CB]  cursor-pointer"
                                        (click)="scrollToSection('emprender-2')">
                                        Programas y acompañamiento
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0096CB]  cursor-pointer"
                                        (click)="scrollToSection('emprender-3')">
                                        Casos de personas que ya venden

                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#0096CB] cursor-pointer"
                                        (click)="scrollToSection('emprender-4')">
                                        Recursos para vender tu producto
                                    </a>
                                </div>
                            </div>
                        </div>


                        <!-- Dropdown Comunidad y formación -->
                        <div class="relative">
                            <div class="relative">
                                <button class="text-white" (click)="toggleDropdown('comunidad')">
                                    Comunidad y formación
                                </button>

                                <div *ngIf="dropdowns['comunidad']"
                                    class="absolute  mt-2 text-white  shadow-lg fondoVerdeOscuro w-96">
                                    <a class="block px-4 py-2 hover:bg-[#08a5d0] cursor-pointer"
                                        (click)="scrollToSection('comunidad-1')">
                                        Quiénes somos
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#08a5d0] cursor-pointer"
                                        (click)="scrollToSection('comunidad-2')">
                                        Comunidad de usuarios
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#08a5d0] cursor-pointer"
                                        (click)="scrollToSection('comunidad-3')">
                                        Talleres, cursos y eventos
                                    </a>
                                    <a class="block px-4 py-2 hover:bg-[#08a5d0] cursor-pointer"
                                        (click)="scrollToSection('comunidad-4')">
                                        Recursos y guía
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Links normales -->

                        <!-- Botón Acerca de Nosotros con scroll suave -->
                        <!-- <a class="text-sm font-medium text-white/80 hover:text-primary transition-colors cursor-pointer"
                            (click)="scrollToSection('acerca-de-nosotros')">
                            Acerca de Nosotros
                        </a> -->
                    </div>
                </nav>


                <!-- Mobile icon -->
                <button class="cursor-pointer text-white lg:hidden" type="button" aria-label="Open menu">
                    <span class="material-symbols-outlined">menu</span>
                </button>
            </div>
        </header>
    </section>
</div>