@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spline Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#texto-jutificado{
  text-align: justify;
}

.dark\:bg-background-dark:is(.dark *) {
    --tw-bg-opacity: 1;
    /* background-color: rgb(17 33 23 / var(--tw-bg-opacity, 1)); */
    background-color: white !important;
}

.text-gray-custom{
  color: rgb(146 146 146);
}

.bg-transparent {
    background-color: gray !important;
}