@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spline Sans", sans-serif;
}

:root {
  --background-dark: #1c2620;
  --border-dark: #29382f; ;
}


.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#texto-jutificado{
  text-align: justify;
}


.text-gray-custom{
  color: rgb(146 146 146);
}


.bg-gray-custom {
  background-color: gray;
}


section[id] {
  scroll-margin-top: 80px; /* Altura del header */
}

.fondoVerdeOscuro{
  background-color: #1C261F !important;
}

.anchoHeader{
  width:800% !important;
}

.anchoCompleto{
  width: 100%!important;
}


@layer base {
  *, ::before, ::after {
    border-style: none;
  }
}

.naranjaFab{
  color: #FF791D;
}
.amarilloFab{
  background-color: #FFC100;
  color: #FFC100;
}

.acuaFab{
  background-color: #03c9e6;
}

.azulFab{
  background-color: #001D8B;
}

.verdeFab{
  background-color: #00D9B3;
}

.verdeFuerteFab{
  background-color: #01A7A4;
}

.gradualAzulFab{
  background: linear-gradient(135deg, #001D8B 0%, #03c9e6 100%);
}

.text-primary{
  /* color: #01A7A4;  */
  color: #001D8B;
}